/* Fira Sans font import link */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Universal + Shared Styling */
*{
    padding: 0;
    margin: 0;
    font-family: "Fira Sans", serif;
    font-style: normal;
    font-weight: normal;
}

body{
    max-width: 1280px;
    margin: 0 auto;
    background-color: #F5F5F5;
}

p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
   
}
h1{
    font-size: 56px;
    font-weight: 700;
    color:rgba(14, 14, 14, 1);
}
h2{
    font-size: 40px;
    font-weight: 700;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 24px;
}
h3{
     font-size: 32px;
     font-weight: 700;
}
h4{
    font-size: 20px;
    font-weight: 700;
}
.btn{
    background-color: #006A50;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    border-radius: 8px;
    border: 1px solid #006A50;
    transition: 0.5s;
}
.btn:hover{
    background-color: #fff;
    color: #006A50;
}


/* Header */
header{
    padding: 31px 0;
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-logo{
    color: rgba(14, 14, 14, 1);
}
.nav-btn{
    color: #006a50;
    background-color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border: 1px solid #006a50;
    border-radius: 8px;
    transition: 0.5s;
}
.nav-btn:hover{
    background-color: #006a50;
    color: #fff;
}


/* Hero */
.hero{
    background-color: #C6E4D6; 
    padding: 80px 59.99px;
    display: flex;
    align-items: center;
    gap: 64px;
    border-radius: 24px;
}
.text-column{
    max-width: 622px;
}
.img-column{
    max-width: 474.03px;
}
.hero-title{
    margin-bottom: 24px;
}
.hero-subtitle{
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
    font-weight: 500;
    margin-bottom: 16px;
}

/* Pillars */
.pillars{
    margin: 80px 0;
}
.pillars > h2{
    margin-bottom: 32px;
}
.icon-box-container{
    display: flex;
    gap: 24px;
}
.icon-box{
    background-color: #fff;
    padding: 24px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    width: 302px;
}
.icon-box-img{
    margin-bottom: 24px;
}
.icon-box h4{
    margin-bottom: 12px;
    color: rgba(14, 14, 14, 0.8);
 }
.icon-box p{
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}

/* Vision */
.vision{
    margin-bottom: 80px;
}
.vision-box img{
    margin-bottom: 24px;
}
.vision-description{
    line-height: 24px;
    margin-bottom: 32px;
} 
.vision-box{
    width: 410px ;
    padding: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 24px;
}
.vision-box h4{
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}
.vision-box p{
    line-height: 24px;
}
.vision-box button{
    font-size: 16px;
    padding: 11px 20px;
}
.vb-1{
    background-color: rgba(84, 144, 245, 0.2);
    
}
.vb-1 button{
    background-color: rgba(84, 144, 245, 1);
    border: 1px solid rgba(84, 144, 245, 1);
}
.vb-1 button:hover{
    background-color: #fff;
    color: rgba(84, 144, 245, 1);
}
.vb-2{
    background-color: rgba(198, 228, 214, 1);
    
}
.vb-2 button{
    background-color: #09A15C;
    border: 1px solid #09A15C;
}
.vb-2 button:hover{
    background-color: #fff;
    color: #09A15C;
}
.vb-3{
    background-color: #F7EBCF;
    padding: 24px;
    
}
.vb-3 button{
    background-color: #FFC239;
    border: 1px solid #FFC239;
}
.vb-3 button:hover{
    background-color: #fff;
    color: #FFC239;
}

/* Testimonial */
.testimonial{
    background-color: #fff;
    border-radius: 16px;
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    margin-top: 32px;
}
.qoute{
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.8);
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    margin-bottom: 12px;
    
}
.name{}
.position{
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.6);
}

/* Opinion Matters */
.opinion{
    margin-bottom: 80px;
}
.table-container{
    background-color: #fff;
    border-radius: 16px;
    padding: 32px;
}
table{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-collapse: collapse;
    width: 100%;
}
thead{
    text-align: left;
    background-color: #C6E4D6;
}
th, td{
    padding: 24px;
}
thead tr th{
    color: rgba(14, 14, 14, 1);
    font-size: 20px;
    font-weight: 600;
}
tbody tr td{
    font-size: 16px;
    font-weight: 600;
    border: 1px solid rgba(14, 14, 14, 0.15)
}
tbody tr td select{
    color: #0E0E0E;
    font-size: 16px;
    font-weight: 500;
    padding: 12.5px 16.5px;
    background-color: #C6E4D6;
    border: 1px solid #0E0E0E;
    border-radius: 4px;
}

/* Recent News */

.recent{
    margin-bottom: 80px;
}
.news-box{
    background-color: #fff;
    border-radius: 24px;
    padding: 48px;
    display: flex;
    gap: 32px;
    align-items: center;
    margin-bottom: 24px;
}
.news-img img{
    border-radius: 24px;
}
.news-content{
    
}
.news-title{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 12px;
}
.news-logo{
    margin-bottom: 12px;
}
.date{
    margin-bottom: 12px;
}
.news-desc{
    margin-bottom: 32px;
}
.news-btn{
    padding: 13px 26px;
}

